workflows/automated-daily-workflow-backup-to-github-sDL7t48Oldb42S6o.json
{
  "updatedAt": "2025-09-20T11:54:37.000Z",
  "createdAt": "2025-09-16T11:19:25.590Z",
  "id": "sDL7t48Oldb42S6o",
  "name": "Automated daily workflow backup to GitHub",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "2aafc10f-0bb7-419f-a6b3-fa90f5f68653",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        368,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "da87b4f8-4507-456b-bfc3-3ae7d9400449",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        848,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "VsO1JBCvhKkkUOaP",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "6cd7d968-6fa0-4ab0-ac58-ceb15c8b7b4a",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        688,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "Tomasikno",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-vps-project",
          "mode": "list",
          "cachedResultName": "n8n-vps-project",
          "cachedResultUrl": "https://github.com/Tomasikno/n8n-vps-project"
        },
        "filePath": "=workflows"
      },
      "id": "854f6e82-babb-474e-a138-2a6c398fd60e",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        528,
        240
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "QpiSErtcyFHm8E7R",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Tomasikno",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-vps-project",
          "mode": "list",
          "cachedResultName": "n8n-vps-project",
          "cachedResultUrl": "https://github.com/Tomasikno/n8n-vps-project"
        },
        "filePath": "=workflows/{{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.id }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "8abba016-1f34-420a-b10b-3c8e44297725",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1648,
        160
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "QpiSErtcyFHm8E7R",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Tomasikno",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-vps-project",
          "mode": "list",
          "cachedResultName": "n8n-vps-project",
          "cachedResultUrl": "https://github.com/Tomasikno/n8n-vps-project"
        },
        "filePath": "=workflows/{{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.id }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "d55efcc7-5873-4c9a-b374-b7b31814905b",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1648,
        320
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "QpiSErtcyFHm8E7R",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.id }}.json"
            }
          ]
        }
      },
      "id": "09909c9f-8a68-4670-8396-65fae9be51ff",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1488,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "43990124-eac4-4c57-9da3-39053d9e5850",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1008,
        240
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "956de457-4d05-4ea8-be7b-390861a739d4",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1168,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "fc258985-2621-42a3-9bc6-01048a92b702",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.id }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "1bfedd8f-1921-4f33-aa45-7ab612f26059",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1328,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "2f36af66-12ca-451a-a1ca-c5a71b94b644",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "dc914f31-e6b5-43b0-8a4e-f9f46118fa30",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "846456961419444304",
          "mode": "list",
          "cachedResultName": "Tomasiknos diary",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304"
        },
        "channelId": {
          "__rl": true,
          "value": "1417480802672836709",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304/1417480802672836709"
        },
        "content": "=🚀 **Workflow Update Deployed!**  \n\n📂 **Files Changed**: Updated workflow files have been committed.  \n⚡ Everything is now up to date and ready to run. \n\n🛠️ _Stay tuned for new automations in action!_ \n\n──────────────────────────────────────────",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2080,
        160
      ],
      "id": "2c4c435b-0800-4a59-98d0-706b46806833",
      "name": "Send a message",
      "webhookId": "6fcc64a7-484d-48b8-af9e-65273f4d7c01",
      "credentials": {
        "discordBotApi": {
          "id": "kODEUwvmo26ApL4g",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "846456961419444304",
          "mode": "list",
          "cachedResultName": "Tomasiknos diary",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304"
        },
        "channelId": {
          "__rl": true,
          "value": "1417480802672836709",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304/1417480802672836709"
        },
        "content": "=🆕 **New Workflow File Added!**  \n  \n⚡ Automatically deployed and active. \n\n🚀 Time to level up the automation!\n\n──────────────────────────────────────────",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2080,
        320
      ],
      "id": "dbc67aac-9889-4e8a-9e9f-4c1c657b78fd",
      "name": "Send a message1",
      "webhookId": "6fcc64a7-484d-48b8-af9e-65273f4d7c01",
      "credentials": {
        "discordBotApi": {
          "id": "kODEUwvmo26ApL4g",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1872,
        160
      ],
      "id": "e8b6bd56-13b4-4c43-a143-e9716b3290cf",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1824,
        320
      ],
      "id": "3c73ce20-f46a-4059-a3c3-abe5d1181c8b",
      "name": "Aggregate2"
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateId": "4064",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2ac4f7d4-e5d6-4b3d-919b-d25c8e0ba57c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-16T11:19:25.602Z",
      "createdAt": "2025-09-16T11:19:25.602Z",
      "role": "workflow:owner",
      "workflowId": "sDL7t48Oldb42S6o",
      "projectId": "kqMrkEZYsdGVbgzw"
    }
  ],
  "tags": []
}