workflows/automate-video-content-posting-to-multiple-social-platforms-with-postiz-NYWE2eTlJYQ0WPTb.json
{
  "createdAt": "2025-09-16T15:52:04.984Z",
  "updatedAt": "2025-09-19T11:42:16.000Z",
  "id": "NYWE2eTlJYQ0WPTb",
  "name": "Automate Video Content Posting to Multiple Social Platforms with Postiz",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1t3A6BXYskPkAl_VxS5-NjSyzjLiNxv-B",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1t3A6BXYskPkAl_VxS5-NjSyzjLiNxv-B",
          "cachedResultName": "Video scheduler"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "application/vnd.google-apps.video"
        }
      },
      "id": "4c7c53ff-85f9-46a1-b90c-4a0b5d6ce7fb",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        880,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ih6pau2KBlXO6pNC",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# TikTok post settings\n\n- **title**  \n  - Text string for the caption of your post (max ~2200 characters).\n\n- **privacy_level**  \n  - Who can see your video.  \n  - Allowed: `PUBLIC_TO_EVERYONE`, `MUTUAL_FOLLOW_FRIENDS`, `FOLLOWER_OF_CREATOR`, `SELF_ONLY`\n\n- **duet**  \n  - Allow others to create Duet videos with your post.  \n  - Allowed: `true` or `false`\n\n- **stitch**  \n  - Allow others to use your video in their Stitch.  \n  - Allowed: `true` or `false`\n\n- **comment**  \n  - Enable or disable comments on your post.  \n  - Allowed: `true` or `false`\n\n- **autoAddMusic**  \n  - Add music automatically to your video.  \n  - Allowed: `\"yes\"` or `\"no\"`\n\n- **brand_content_toggle**  \n  - Marks the post as branded/promotional content.  \n  - Allowed: `true` or `false`\n\n- **brand_organic_toggle**  \n  - Marks branded content as organic (natural, unpaid).  \n  - Allowed: `true` or `false`\n\n- **content_posting_method**  \n  - Method of posting.  \n  - Allowed: `\"DIRECT_POST\"` or `\"UPLOAD\"`\n",
        "height": 912,
        "width": 768
      },
      "id": "ec3be7bc-970b-48a4-aa46-c94afe52a381",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "shortLink": true,
        "date": "={{ $now.toUTC() }}",
        "posts": {
          "post": [
            {
              "integrationId": "={{ $json.id }}",
              "settings": {
                "setting": [
                  {
                    "key": "privacy_level",
                    "stringValue": "={{ $('Set fields').item.json.privacy_level }}"
                  },
                  {
                    "key": "duet",
                    "booleanValue": true,
                    "valueType": "boolean"
                  },
                  {
                    "key": "stitch",
                    "booleanValue": true,
                    "valueType": "boolean"
                  },
                  {
                    "key": "comment",
                    "booleanValue": true,
                    "valueType": "boolean"
                  },
                  {
                    "key": "autoAddMusic",
                    "stringValue": "={{ $('Set fields').item.json.autoAddMusic }}"
                  },
                  {
                    "key": "=brand_organic_toggle",
                    "valueType": "boolean"
                  },
                  {
                    "key": "brand_content_toggle",
                    "valueType": "boolean"
                  },
                  {
                    "key": "content_posting_method",
                    "stringValue": "={{ $('Set fields').item.json.content_posting_method }}"
                  }
                ]
              },
              "value": {
                "contentItem": [
                  {
                    "content": "testerrrr",
                    "image": {
                      "imageItem": [
                        {
                          "id": "={{ $('Postiz').item.json.id }}",
                          "path": "={{ $('Postiz').item.json.path }}"
                        }
                      ]
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "c5fca207-81d2-45fe-9648-58ba6bdbc7ee",
      "name": "Schedule on TikTok",
      "type": "n8n-nodes-postiz.postiz",
      "position": [
        4208,
        80
      ],
      "typeVersion": 1,
      "credentials": {
        "postizApi": {
          "id": "nXwxEKg7wJsPHgfY",
          "name": "Postiz account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://postiz.eevees.cz/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "8c078b6a-234c-4c73-a0ba-73172384f108",
      "name": "Upload to Postiz",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1184,
        48
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "C5MHMmlBA0RSs7Fw",
          "name": "postiz eevees"
        }
      }
    },
    {
      "parameters": {
        "date": "={{ $json.output.datetime }}"
      },
      "id": "fad0d8d9-5f34-49d5-a6e6-33c959aad6c7",
      "name": "Get integrations",
      "type": "n8n-nodes-postiz.postiz",
      "position": [
        3056,
        272
      ],
      "typeVersion": 1,
      "credentials": {
        "postizApi": {
          "id": "nXwxEKg7wJsPHgfY",
          "name": "Postiz account"
        }
      }
    },
    {
      "parameters": {},
      "id": "d85d3683-d9e7-4387-adf9-d63617c2b358",
      "name": "Schedule on Facebook",
      "type": "n8n-nodes-postiz.postiz",
      "position": [
        4208,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c7c8f815-1c79-44a0-98d4-7d5abdf6589d",
      "name": "Schedule on Instagram",
      "type": "n8n-nodes-postiz.postiz",
      "position": [
        4208,
        656
      ],
      "typeVersion": 1,
      "credentials": {
        "postizApi": {
          "id": "nXwxEKg7wJsPHgfY",
          "name": "Postiz account"
        }
      }
    },
    {
      "parameters": {},
      "id": "cd382111-d04f-412d-9481-79a45226f86e",
      "name": "Schedule on Threads",
      "type": "n8n-nodes-postiz.postiz",
      "position": [
        4208,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9edc5e75-5fe1-4d0e-b2a0-4e58dd5038c9",
              "name": "privacy_level",
              "type": "string",
              "value": "PUBLIC_TO_EVERYONE"
            },
            {
              "id": "99acb1ab-3d6d-41d1-8b5c-50ea087a8718",
              "name": "duet",
              "type": "boolean",
              "value": true
            },
            {
              "id": "e4204d31-e495-409e-b6aa-ca89507d2d95",
              "name": "stitch",
              "type": "boolean",
              "value": true
            },
            {
              "id": "e56063b9-5a1a-421d-a1e9-ed5d656da52f",
              "name": "comment",
              "type": "boolean",
              "value": true
            },
            {
              "id": "0f48d08a-598f-4480-9e18-f3a72397bfc8",
              "name": "autoAddMusic",
              "type": "string",
              "value": "no"
            },
            {
              "id": "47add0ab-e7d1-45b8-9a4f-9a9ada01d3e5",
              "name": "brand_organic_toggle",
              "type": "boolean",
              "value": false
            },
            {
              "id": "f67436b0-d826-4d8e-996f-619ce3587c75",
              "name": "brand_content_toggle",
              "type": "boolean",
              "value": false
            },
            {
              "id": "eb623872-c1c5-4603-b29b-a4a3655df7a4",
              "name": "content_posting_method",
              "type": "string",
              "value": "DIRECT_POST"
            },
            {
              "id": "f6392389-f97b-401c-85d6-056f31487f74",
              "name": "youtubeType",
              "type": "string",
              "value": "private"
            },
            {
              "id": "0c83ad0e-63cd-461b-838e-9c4ec960e7e7",
              "name": "instagramType",
              "type": "string",
              "value": "post"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "daefc90c-4a7d-4f66-8d58-724e00d7c791",
      "name": "Set fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1808,
        464
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "id, identifier",
        "options": {}
      },
      "id": "99c56087-a358-4f32-a93a-9c9b16596657",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        3760,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "19f5c3c9-379b-47a5-87a6-51d5307f455e",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.identifier }}",
              "rightValue": "tiktok"
            }
          ]
        },
        "options": {}
      },
      "id": "3e0c9305-844f-4006-9596-1b2ab82d276d",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        3984,
        80
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6e46ca24-81cc-4fa7-a3e2-cc7c5286e5bd",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.identifier }}",
              "rightValue": "youtube"
            }
          ]
        },
        "options": {}
      },
      "id": "52ff4c0c-7b17-46e3-b7ad-5230f7f169e1",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "position": [
        3984,
        272
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6e46ca24-81cc-4fa7-a3e2-cc7c5286e5bd",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.identifier }}",
              "rightValue": "facebook"
            }
          ]
        },
        "options": {}
      },
      "id": "1ca45b01-74f5-4e28-bfed-1aa8754562d1",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "position": [
        3984,
        464
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6e46ca24-81cc-4fa7-a3e2-cc7c5286e5bd",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.identifier }}",
              "rightValue": "instagram"
            }
          ]
        },
        "options": {}
      },
      "id": "c0a3c982-8770-4e70-b498-5ae02e30868e",
      "name": "Filter3",
      "type": "n8n-nodes-base.filter",
      "position": [
        3984,
        656
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6e46ca24-81cc-4fa7-a3e2-cc7c5286e5bd",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.identifier }}",
              "rightValue": "threads"
            }
          ]
        },
        "options": {}
      },
      "id": "ba5086a8-628a-432f-be34-e32413cfe6ab",
      "name": "Filter4",
      "type": "n8n-nodes-base.filter",
      "position": [
        3984,
        848
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Set fields \nAdjust your social media settings according to your needs",
        "height": 304,
        "color": 3
      },
      "id": "76b438c4-1c95-4fcb-a87d-3ca0b0e2387d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Youtube post settings\n\n- **type**  \n  - `public`, `unlisted` or `private`",
        "height": 224,
        "width": 384
      },
      "id": "fa0ad2a3-0e80-4e78-a833-6806a097ac68",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Instagram post settings\n\n- **post_type**  \n  - `post` or `story`",
        "height": 224,
        "width": 384
      },
      "id": "c3381335-f075-42ed-93e5-87b30bcdc03f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        1104
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Requirements\n### Postiz\n- Create an account on [Postiz](https://postiz.com/?ref=onenode)\n- Install the [community node from Postiz](https://www.npmjs.com/package/n8n-nodes-postiz)\n- Connect your desired social media accounts\n- Get your API key and enable credentials on n8n\n\n### Google Drive\n- Create a folder that will watch for new files added\n- Enable your credentials on n8n for Google Drive\n- Insert a video in mp4 format. Or use Cloud Convert and convert it to mp4 before uploading to Postiz\n\n### Human in the loop\n- Confirm the post title, date and time (you can insert in natural language), and caption by filling the form\n\n## Configuration\nEdit the fields that will be passed later into the workflow inside the red sticker.\nAdapt the system prompt to generate the tags for youtube",
        "height": 544,
        "width": 464,
        "color": 4
      },
      "id": "d324906e-c0ae-4efe-87d9-c9d78a7b7935",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Google Drive Trigger').item.json.id }}"
        },
        "options": {}
      },
      "id": "3801ed48-b008-4e57-bc93-31fd57c4fc0a",
      "name": "Delete a file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        4464,
        80
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ih6pau2KBlXO6pNC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1rqShoTqVSH7A9Xl7XMyEXLJL6O10BOBY/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1312,
        352
      ],
      "id": "db09e896-8e0b-4ee3-b319-06e9e1954eb0",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ih6pau2KBlXO6pNC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "binaryProperty": "={{$('Download file1').first().binary}}"
      },
      "type": "n8n-nodes-postiz.postiz",
      "typeVersion": 1,
      "position": [
        1584,
        464
      ],
      "id": "60f8f3f2-4469-4109-8e21-e4131182cf53",
      "name": "Postiz",
      "credentials": {
        "postizApi": {
          "id": "nXwxEKg7wJsPHgfY",
          "name": "Postiz account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://postiz.eevees.cz/public/v1/posts",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2624,
        832
      ],
      "id": "9525eba8-8e81-496c-911c-99bcc3355a3d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "846456961419444304",
          "mode": "list",
          "cachedResultName": "Tomasiknos diary",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304"
        },
        "channelId": {
          "__rl": true,
          "value": "1417600388479189136",
          "mode": "list",
          "cachedResultName": "videos-notification",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304/1417600388479189136"
        },
        "message": "=📹 **New Video Created!**  \n👉 [{{ $json.name }}]({{ $json.path }})  \nDo you approve? ✅❌\n------------------------",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2128,
        464
      ],
      "id": "86deb83f-95f2-4b1c-9e1d-9657db74f58f",
      "name": "Send message and wait for response",
      "webhookId": "c783b4c9-cfd5-48a3-8182-e749b01daf93",
      "credentials": {
        "discordBotApi": {
          "id": "kODEUwvmo26ApL4g",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "209f3354-931f-46a0-8b8e-10b2337200ce",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2672,
        480
      ],
      "id": "7bcf7749-823d-4c71-bf71-ff44de3271e8",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1072,
        352
      ],
      "id": "2220033c-d699-4bf8-8547-c06cfb945edf",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://postiz.eevees.cz/api/public/v1/integrations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        256
      ],
      "id": "ffa95ba3-e62e-4edc-98ef-9f64dbaa9de6",
      "name": "HTTP Request1",
      "credentials": {
        "postizApi": {
          "id": "nXwxEKg7wJsPHgfY",
          "name": "Postiz account"
        },
        "httpHeaderAuth": {
          "id": "C5MHMmlBA0RSs7Fw",
          "name": "postiz eevees"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.currentDate }}",
        "attributes": {
          "attributes": [
            {
              "name": "datetime",
              "description": "=Date and time in ISO 8601 format with milliseconds and UTC + 0 ('Z'), e.g., 2024-12-14T08:18:54.274Z. Today is {{ $now }}. Return the output in UTC+2.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "id": "bfdb4d02-63b1-4334-ad7d-962902b9fb6a",
      "name": "Extract datetime",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        2992,
        800
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2816,
        736
      ],
      "id": "f6bad88a-226a-48c8-9845-63040198dade",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "x4WuZYjSfm0LFGHN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getIntegrations"
      },
      "type": "n8n-nodes-postiz.postiz",
      "typeVersion": 1,
      "position": [
        3168,
        480
      ],
      "id": "f9874328-521c-4d75-982b-6c7c52475ba7",
      "name": "Postiz1",
      "credentials": {
        "postizApi": {
          "id": "nXwxEKg7wJsPHgfY",
          "name": "Postiz account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://postiz.eevees.cz/api/public/v1/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"draft\",\n  \"date\": \"2025-09-20T08:18:54.274Z\",\n  \"shortLink\": false,\n  \"tags\": [],\n  \"posts\": [\n    {\n      \"integration\": {\n        \"id\": \"{{ $json.id }}\"\n      },\n      \"settings\": {\n        \"title\": \"testrrrrrr\",\n        \"type\": \"{{ $('Set fields').item.json.youtubeType }}\"\n      },\n      \"value\": [\n        {\n          \"content\": \"This is my cool post\",\n          \"image\": [\n            {\n              \"id\": \"{{ $('Postiz').item.json.id }}\",\n              \"path\": \"{{ $('Postiz').item.json.path }}\"\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4768,
        96
      ],
      "id": "2590b615-bce6-4ad4-8f66-1fd701a759ab",
      "name": "HTTP Request2",
      "credentials": {
        "httpBearerAuth": {
          "id": "GIJlYnfdPGtZ0ue4",
          "name": "GH token"
        },
        "httpHeaderAuth": {
          "id": "C5MHMmlBA0RSs7Fw",
          "name": "postiz eevees"
        }
      }
    },
    {
      "parameters": {
        "shortLink": true,
        "date": "={{ $now.toUTC() }}",
        "posts": {
          "post": [
            {
              "integrationId": "={{ $json.id }}",
              "settings": {
                "setting": [
                  {
                    "key": "type",
                    "stringValue": "={{ $('Set fields').item.json.youtubeType }}"
                  },
                  {
                    "key": "title",
                    "stringValue": "testttt"
                  }
                ]
              },
              "value": {
                "contentItem": [
                  {
                    "content": "testerrrr",
                    "image": {
                      "imageItem": [
                        {
                          "id": "={{ $('Set fields').item.json.id }}",
                          "path": "={{ $('Set fields').item.json.path }}"
                        }
                      ]
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "bb40f421-b111-420d-b485-39ea0bceac98",
      "name": "Schedule on youtube",
      "type": "n8n-nodes-postiz.postiz",
      "position": [
        4208,
        272
      ],
      "typeVersion": 1,
      "credentials": {
        "postizApi": {
          "id": "nXwxEKg7wJsPHgfY",
          "name": "Postiz account"
        }
      }
    }
  ],
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Schedule on TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Schedule on youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Schedule on Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Schedule on Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "Schedule on Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get integrations": {
      "main": [
        []
      ]
    },
    "Upload to Postiz": {
      "main": [
        []
      ]
    },
    "Schedule on TikTok": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule on Threads": {
      "main": [
        []
      ]
    },
    "Google Drive Trigger": {
      "main": [
        []
      ]
    },
    "Schedule on Facebook": {
      "main": [
        []
      ]
    },
    "Schedule on Instagram": {
      "main": [
        []
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Postiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postiz": {
      "main": [
        [
          {
            "node": "Set fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Postiz1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract datetime",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract datetime": {
      "main": [
        []
      ]
    },
    "Postiz1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "6653"
  },
  "pinData": {},
  "versionId": "beb4637f-e3d4-428c-81e4-8475019e47b2",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-16T15:52:05.003Z",
      "updatedAt": "2025-09-16T15:52:05.003Z",
      "role": "workflow:owner",
      "workflowId": "NYWE2eTlJYQ0WPTb",
      "projectId": "kqMrkEZYsdGVbgzw"
    }
  ],
  "tags": []
}