workflows/reels-eevee-clanker---v2---food-Lu9odjLr1wKXUSh7.json
{
  "createdAt": "2025-09-30T11:59:16.737Z",
  "updatedAt": "2025-10-08T19:40:26.000Z",
  "id": "Lu9odjLr1wKXUSh7",
  "name": "Reels eevee clanker - v2 - food",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "AI Music Generator - Parameter Usage Guide\n1. **Prompt** (Music Description)\n    - Purpose: Describe the music content you want to generate.\n    - Example: \"A calm and relaxing piano track with soft melodies\".\n    - Character Limit: Maximum 3000 characters.\n    - Tips:\n      More detailed descriptions lead to better results.\n      Include emotions, rhythm, instruments, etc.\n      In current mode, this description will be used as lyrics content.\n2. **Style** (Music Style)\n    - Purpose: Specify the music genre or style.\n    - Example: \"Classical\", \"Jazz\", \"Pop\", \"Electronic\", \"Rock\".\n    - Character Limit: Maximum 200 characters.\n    - Common Styles: Classical,Jazz,Pop,Electronic,Rock,Hip-hop.\n3. **Title** (Music Title)\n    - Purpose: Set a title for the generated music.\n    - Example: \"Peaceful Piano Meditation\".\n    - Character Limit: Maximum 80 characters.\n    - Usage: Title will be displayed in player interfaces and filenames.\n4. **Api_key** (API Key)\n    - This is what you get in the first step.",
        "height": 500,
        "width": 640
      },
      "id": "a57aede8-1a2a-4529-b09a-efc8b688b075",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        1104
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "1701feb9-4ffa-49ca-9740-d76e8c804cc3",
      "name": "Wait for Music Processing",
      "type": "n8n-nodes-base.wait",
      "position": [
        112,
        4256
      ],
      "webhookId": "4c1ec000-0ec4-4792-b118-4a3089a17d7b",
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.sunoapi.org/api/v1/generate/record-info",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.data.taskId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "46b50499-e29e-4353-91c3-53f06815efb4",
      "name": "Poll Music Generation Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        336,
        4176
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "flynbMcZ320tP6Xq",
          "name": "Suno bear"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "faf4bf4c-8a8e-49a3-b62a-14a4af0b7dfb",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "true",
              "rightValue": "={{$json.data.status == \"SUCCESS\"}}"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "99dae9bd-6f78-4868-b2d6-75a6713be74c",
      "name": "Check if Music Generation Complete",
      "type": "n8n-nodes-base.if",
      "position": [
        560,
        4256
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73bdb28d-6b86-47d5-98d2-4647600a11bd",
              "name": "audioUrl1",
              "type": "string",
              "value": "={{$json.data.response.sunoData[0].audioUrl}}"
            },
            {
              "id": "3f468fe2-189d-40a1-805d-9090b93bfe6e",
              "name": "audioUrl2",
              "type": "string",
              "value": "={{ $json.data.response.sunoData[1].audioUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7f75a85d-ffc2-4339-8dde-592946a61993",
      "name": "Format and Display Music Results",
      "type": "n8n-nodes-base.set",
      "position": [
        784,
        4256
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        2448
      ],
      "id": "6dfaa907-3326-47e2-95b9-cbdd5656ff64",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -976,
        1904
      ],
      "id": "7f71dbee-d1f8-4908-95d8-305daf3251d8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "x4WuZYjSfm0LFGHN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"<short title ≤ 60 chars>\",\n  \"bpm\": 112,\n  \"key\": \"C major\",\n  \"hook\": \"<EXACTLY five words>\",\n  \"verse\": [\n    \"The periodic table groups by how atoms act—\",\n    \"metals here, halogens there—patterns, not just names.\",\n    \"Noble gases rarely react; their shells are full—\",\n    \"they glow in signs but keep to themselves.\",\n    \"Carbon chains build life—rings, branches, backbone code—\",\n    \"swap a bond, and form shifts from sweet to strong.\",\n    \"Water’s bent angle makes poles—tiny magnets—\",\n    \"it sticks, it dissolves, it carries life.\"\n  ],\n  \"chorus\": [\n    \"<HOOK> (crowd: \\\"...\\\")\",\n    \"<supporting line>\",\n    \"<supporting line>\",\n    \"<HOOK> (crowd: \\\"...\\\")\"\n  ],\n  \"outro\": [\n    \"<tag line>\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -720,
        1904
      ],
      "id": "bf7a1b5f-bc18-47c1-bb58-f36e8f40ff88",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"timeline\": {\n        \"soundtrack\": {\n            \"src\": \"https://s3-ap-southeast-2.amazonaws.com/shotstack-assets/music/moment.mp3\",\n            \"effect\": \"fadeOut\"\n        },\n        \"tracks\": [\n            {\n                \"clips\": [\n                    {\n                        \"asset\": {\n                            \"type\": \"text\",\n                            \"text\": \"HELLO WORLD\",\n                            \"font\": {\n                                \"family\": \"Montserrat ExtraBold\",\n                                \"color\": \"#ffffff\",\n                                \"size\": 32\n                            },\n                            \"alignment\": {\n                                \"horizontal\": \"left\"\n                            }\n                        },\n                        \"start\": 0,\n                        \"length\": 5,\n                        \"transition\": {\n                            \"in\": \"fade\",\n                            \"out\": \"fade\"\n                        }\n                    }\n                ]\n            }\n        ]\n    },\n    \"output\": {\n        \"format\": \"mp4\",\n        \"size\": {\n            \"width\": 1080,\n            \"height\": 920\n        }\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -496,
        4688
      ],
      "id": "77ef2a09-353c-4ee6-8688-3c0685767c17",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -304,
        2672
      ],
      "id": "80060454-d1e0-4cde-b924-27e0aa55dc25",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "x4WuZYjSfm0LFGHN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "27358cd7-1b15-80e5-965f-d144b72c15b4",
          "mode": "list",
          "cachedResultName": "27358cd7-1b15-80e5-965f-d144b72c15b4",
          "cachedResultUrl": "https://www.notion.so/27358cd71b1580e5965fd144b72c15b4"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Theme|title",
              "title": "={{ $json.title }}"
            },
            {
              "key": "OneLiner|rich_text",
              "textContent": "={{ $json.prompt }}"
            },
            {
              "key": "Hash|number",
              "numberValue": "={{ $json._hash }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        608,
        2448
      ],
      "id": "b001807d-aa59-4912-9913-e8eb9a3b9a0a",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "lDq6KxxGETipZmXY",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Input: Agent JSON on $json.data; past themes on $json.pastThemes (array of strings)\n// Output: either passes through or throws to trigger a regenerate loop\n\nfunction normalize(s) {\n  return s.toLowerCase().replace(/\\s+/g, ' ').trim();\n}\n\nfunction jaroWinkler(s1, s2) {\n  // Lightweight similarity; good enough for titles\n  const m = Math.floor(Math.max(s1.length, s2.length) / 2) - 1;\n  let matches1 = new Array(s1.length).fill(false);\n  let matches2 = new Array(s2.length).fill(false);\n  let matches = 0, transpositions = 0;\n\n  for (let i = 0; i < s1.length; i++) {\n    const start = Math.max(0, i - m), end = Math.min(i + m + 1, s2.length);\n    for (let j = start; j < end; j++) {\n      if (!matches2[j] && s1[i] === s2[j]) { matches1[i] = matches2[j] = true; matches++; break; }\n    }\n  }\n  if (matches === 0) return 0;\n\n  let k = 0;\n  for (let i = 0; i < s1.length; i++) {\n    if (matches1[i]) {\n      while (!matches2[k]) k++;\n      if (s1[i] !== s2[k]) transpositions++;\n      k++;\n    }\n  }\n  transpositions /= 2;\n\n  const j = (matches / s1.length + matches / s2.length + (matches - transpositions) / matches) / 3;\n\n  // Winkler prefix boost\n  let prefix = 0;\n  for (let i = 0; i < Math.min(4, s1.length, s2.length); i++) {\n    if (s1[i] === s2[i]) prefix++; else break;\n  }\n  return j + prefix * 0.1 * (1 - j);\n}\n\nconst agent = $json.output; // JSON from Agent\nconst theme = normalize(agent.prompt || '');\nconst line  = normalize(agent.title || '');\n\nconst past = ($json.pastThemes || []).map(normalize);\nconst candidate = `${theme} | ${line}`;\n\n// Quick hash to catch exact/near-exact repeats\nfunction simpleHash(s) {\n  let h = 0; for (let i = 0; i < s.length; i++) h = (h * 31 + s.charCodeAt(i)) | 0;\n  return h >>> 0;\n}\nconst candHash = simpleHash(candidate);\n\n// Thresholds: adjust to be stricter/looser\nconst SIM_THRESH = 0.90; // 0..1 (higher = stricter)\n\nlet tooSimilar = false;\nfor (const prev of past) {\n  const sim = jaroWinkler(candidate, prev);\n  if (sim >= SIM_THRESH || simpleHash(prev) === candHash) {\n    tooSimilar = true; break;\n  }\n}\n\nif (tooSimilar) {\n  // Throwing makes the node fail and lets you loop back to the Agent\n  throw new Error('Theme too similar to a past entry. Regenerate.');\n}\n\n// If it's unique, expose it for saving\nreturn { ...agent, _hash: candHash };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        2448
      ],
      "id": "0ce3fa37-05cf-408b-aa00-dc3c1d3b16ec",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd34a46c-85f5-42a1-a056-cf1108603b6f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        2448
      ],
      "id": "de5241c0-60e5-499e-a24a-113d7ca4624e",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Input is many items from Data Store. We output ONE item.\nconst themes = $('Get many database pages').all().map(i => {\n  console.log(i);\n  const t = i.json.name || '';\n  const l = i.json.property_one_liner || '';\n  return `${t} | ${l}`.trim();\n});\nreturn [{ json: { pastThemes: themes } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        2448
      ],
      "id": "68c65e3d-9df5-4d91-9caf-c4a0e32674b0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"prompt\": \"string\",\n  \"negative_prompt\": \"string\",\n  \"video_prompt\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -32,
        2672
      ],
      "id": "63cba35b-5126-48ed-be56-84f06028adbf",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -752,
        4688
      ],
      "id": "f2a5bf65-2d08-4c01-b626-8a19fa55acc9",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "x4WuZYjSfm0LFGHN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Could spiral into recursion",
        "height": 80,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        1376
      ],
      "id": "8a8c14b3-2a8a-47a5-b3d1-804d2ecf8604",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Goal: Create a short, ultra-catchy educational song with lyrics about cosmic fun facts that works on TikTok/Reels. stick to only one funfact throuh the entire songs. You dont have to rhyme that much, keep it simple wording, plain even. Make it really educational and with propper science terminology, I want to learn from this and make people learn from this. I need it to be viral. Needs to rhyme.\n\nInstructions (model-facing):\n\nTopic: {{ $json.property_one_liner }}\n\nAudience & tone: General audience, playful / wonder-filled, kid-safe wording, high intelligibility.\n\nLength: 40–60s total; vocals start at 0s or within 2 bars.\n\nTempo/Key: 140 BPM; C major or A minor (easy to sing on phones).\n\nStructure:\n\nVerse (16 lines): 6–9 syllables, ABAB rhyme.\n\nOutro (1–2 lines): quick summary/tag.\n\nFacts style: Numbers & comparisons (e.g., “Light needs ~8 min from Sun”), records (“largest star…”, “fastest spin…”), simple causes (“why galaxies look redshifted”). No jargon; prefer plain analogies (“size like a city”).\n\nMix notes: Vocal-forward; clear mids for phone speakers; minimal reverb; no busy fills over vocals.\n\nSafety: Keep everything non-scary (no disaster gore), no brand names, no politics.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -928,
        1680
      ],
      "id": "12a66242-16ca-4343-9083-1912af19a4cc",
      "name": "lyrics clanker",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<aiInstruction>\n  <globalRules>\n    <rule>Subject: exactly one (1) Eevee, life-sized, plush yet realistic fur, expressive eyes, delicate whiskers.</rule>\n    <rule>Action: Eevee actively eats or nibbles the chosen FOOD (visible bite/lick/slurp); crumbs/sauce OK but don’t cover the face.</rule>\n    <rule>Foods MUST be safe for small animals: fruit (apple, strawberry, blueberry, watermelon), rice, mochi (non-chocolate), steamed veggies, plain noodle, rice pudding, pumpkin soup, grapes/raisins, soup </rule>\n    <rule>Vibe: cute, wholesome, cozy.</rule>\n    <rule>Lighting: soft natural key + gentle rim; practicals allowed (window, lamp, café neon).</rule>\n    <rule>Composition: shallow depth of field; subject cleanly in focus; rule-of-thirds or centered hero composition.</rule>\n    <rule>Props: only what supports eating (plate/bowl/cup/napkin/tiny fork or chopsticks).</rule>\n    <rule>Hard NO: text/logos/watermarks/UI, humans, other Pokémon, collars/tags, duplicate Eevees, extreme mess, low-res artifacts.</rule>\n<rule>Prompts need to be json valid string, no special characters so I can send it in http request</rule>\n<rule>Consider PAST_THEMES and try to avoid them</rule>\n  </globalRules>\n\n  <variables>\n    <food>\n      <option>strawberry</option>\n      <option>taiyaki (no chocolate)</option>\n      <option>mochi</option>\n      <option>onigiri</option>\n      <option>apple slice</option>\n      <option>ramen noodle strand</option>\n      <option>blueberry yogurt</option>\n      <option>tiny sandwich</option>\n      <option>watermelon wedge</option>\n      <option>rice pudding</option>\n      <option>soup</option>\n      <option>coffee</option>\n      <option>steak</option>\n    </food>\n    <location>\n      <option>kitchen table</option>\n      <option>café window seat</option>\n      <option>picnic blanket</option>\n      <option>cozy living-room rug</option>\n      <option>park bench</option>\n    </location>\n    <mood>\n      <option>playful</option>\n      <option>cozy</option>\n      <option>curious</option>\n      <option>delighted</option>\n    </mood>\n    <timeOfDay>\n      <option>golden morning</option>\n      <option>bright noon</option>\n      <option>blue hour</option>\n      <option>night with warm lamps</option>\n    </timeOfDay>\n    <cameraStill>\n      <option>macro close-up</option>\n      <option>chest-up</option>\n      <option>small full-body on surface</option>\n    </cameraStill>\n    <cameraMove>\n      <option>gentle push-in</option>\n      <option>slow handheld from 3/4 left</option>\n      <option>static tripod with shallow DOF</option>\n      <option>micro-dolly along table</option>\n    </cameraMove>\n  </variables>\n\n  <defaults>\n    <aspect>9:16</aspect>\n    <allowedAspects>\n      <option>9:16</option>\n    </allowedAspects>\n  </defaults>\n\n  <templates>\n    <imagePromptTemplate>\n      Ultra photo-real Eevee, life-sized, {MOOD}, eating {FOOD} at {LOCATION}, {TIME_OF_DAY}. {CAMERA_STILL} composition, shallow depth of field, crisp fur strands, glossy eyes with catchlight, delicate whiskers, tiny paws near {plate/bowl}, natural crumbs/sauce details, soft key light with gentle rim, cinematic look, subtle film grain, no text, no logos, single Eevee.\n    </imagePromptTemplate>\n\n    <videoPromptTemplate>\n One Eevee only. Scene: {LOCATION}, {TIME_OF_DAY}, cozy, safe and wholesome. Camera: {CAMERA_MOVE}. LENS: 50–85mm equivalent, shallow depth of field, soft bokeh. LIGHTING: soft window key + gentle rim/practicals. Keep the proportion of Eevee as close as possible she is a Pokemon.\n      ACTION BEATS:\n      1) Establish: Eevee looks at {FOOD} on {plate/bowl}, sniffs once (subtle whisker twitch).\n      2) Bite/lick: Eevee leans in and takes a small {bite/lick/slurp}; show believable texture (e.g., steam, gloss, crumbs, seeds).\n      3) Satisfaction: Eevee blinks, tiny ear flick; a second small nibble.\n      MOTION LAYERS:\n      - Subject: small head tilt, paw stabilization, gentle chew.\n      - Camera: {gentle push-in OR slow handheld sway}, no whip-pans, no cuts.\n      - Environment: micro steam from hot items or tiny pollen dust motes in light.\n    SOUND: Eevee is making curte Eevee noises (ee, eevee, vee), chill lo-fi song in the background.\n  \n      SAFETY & STYLE:\n      No text/logos/humans/other Pokémon/collars. Keep face visible and clean. Realistic fur physics; subtle film grain; cinematic, cozy tone.\n    </videoPromptTemplate>\n\n<pastThemes>\n{{ $json.pastThemes }}\n</pastThemes>\n\n\n    <negativePrompt>\n      extra limbs, duplicate Eevee, humans, collars, text, watermark, heavy motion blur, overprocessed fur, face obscured by mess, unsafe foods (chocolate, coffee, alcohol, grapes/raisins), low-res, distorted anatomy, exaggerated cartoon style\n    </negativePrompt>\n  </templates>\n</aiInstruction>\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=<role>You are a prompt-engineer for photo-real images AND Veo-3 video. Generate ONE concept where Eevee eats a specific food, looking irresistibly cute.</role>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -240,
        2448
      ],
      "id": "bb200ebd-09fe-4b8d-9aa9-d439ac8eabd4",
      "name": "Theme clanker"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sunoapi.org/api/v1/generate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "=VERSE:{{ $('lyrics clanker').item.json.output.verse }}\n\nCHORUS: {{ $('lyrics clanker').item.json.output.chorus }}\n\nOUTRO: {{ $('lyrics clanker').item.json.output.outro }}\n\nHOOK: {{ $('lyrics clanker').item.json.output.hook }}\n\n"
            },
            {
              "name": "style",
              "value": "Electro spoken-word fast paced, 140 BPM, A minor. No intro—voice at 2s. Neutral Female, spoken to rap singing cadence. !!LENGTH:60s!! Minimal palette (side-chained pads, clean kick, sub, airy plucks). Vocal-forward; avoid autotune artifacts and dense fills."
            },
            {
              "name": "title",
              "value": "={{ $('lyrics clanker').item.json.output.title }}"
            },
            {
              "name": "customMode",
              "value": "true"
            },
            {
              "name": "instrumental",
              "value": "false"
            },
            {
              "name": "model",
              "value": "V4_5"
            },
            {
              "name": "negativeTags",
              "value": "long intro,instrumental intro,delayed vocals,autotune,heavy reverb,dense fills,busy percussion,vocoder,distortion,glitch fx, tempo changes,choir"
            },
            {
              "name": "vocalGender",
              "value": "f"
            },
            {
              "name": "styleWeight",
              "value": "0.80"
            },
            {
              "name": "weirdnessConstraint",
              "value": "0.35"
            },
            {
              "name": "audioWeight",
              "value": "0.65"
            },
            {
              "name": "callBackUrl",
              "value": "https://api.example.com/callback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        4256
      ],
      "id": "22ffb7a6-a6b7-4c1b-aadf-b37269dad495",
      "name": "Request create song",
      "credentials": {
        "httpBearerAuth": {
          "id": "flynbMcZ320tP6Xq",
          "name": "Suno bear"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "inputDataFieldName": "song",
        "name": "=song-{{ $now.format('yyyy-MM-dd-HH:mm:ss') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1u3NLKJAZekpnEeDKfbFDMttdxeWoCRzv",
          "mode": "list",
          "cachedResultName": "songs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1u3NLKJAZekpnEeDKfbFDMttdxeWoCRzv"
        },
        "options": {
          "appPropertiesUi": {
            "appPropertyValues": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1232,
        4256
      ],
      "id": "1ab8b149-44cf-44f8-8f41-dfa3f2245532",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ih6pau2KBlXO6pNC",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1KxUYCr2M-2LkgOkhha7d0bNqcruW3-L-/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -976,
        2112
      ],
      "id": "d8410aad-2bcd-4e78-ac01-34465884e43c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ih6pau2KBlXO6pNC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.audioUrl1 }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "song"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        4256
      ],
      "id": "00cbd6a1-5bae-4f8a-95d2-9a6247ab4730",
      "name": "Download songs",
      "credentials": {
        "httpBearerAuth": {
          "id": "flynbMcZ320tP6Xq",
          "name": "Suno bear"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -624,
        4688
      ],
      "id": "e4446a4d-9672-45fd-907b-fb076a4978d5",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -848,
        1904
      ],
      "id": "3ae238ae-4593-4f3f-bc9d-21a90431fa0d",
      "name": "Think1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "bb9801ce-09ee-4868-b8e5-8c83bc4ba026",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -112,
        5440
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "x4WuZYjSfm0LFGHN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "82f53b53-22ae-4dcc-99d5-6e4536428580",
      "name": "Think3",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        16,
        5440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"final_prompt\": \"string\"\n}\n"
      },
      "id": "8904b5f4-6fc6-4e07-b86d-8c2740d11852",
      "name": "Structured Output Parser4",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        144,
        5440
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a45483d1-d215-4880-a67d-ed66367769c0",
              "name": "json_master",
              "value": "={   \"title\": \"<Project name>\",   \"goal\": \"Teach one fun science fact in a friendly, kid-safe way while the mascot host sings to the final song. No on-screen captions.\",   \"format\": {     \"platform\": \"TikTok / Reels\",     \"aspect_ratio\": \"9:16\",     \"resolution\": \"1080x1920\",     \"fps\": 24,     \"duration_sec\": <40-60>   },   \"assets\": {     \"audio_url\": \"<https link to final song>\",     \"reference_image_url\": \"<https link to host image>\"   },   \"scene_summary\": \"Soft sci-fi lab; cozy, bright, and clean. The cute lab-mascot explains a single science fact with simple gestures and bouncy timing.\",   \"style\": \"cute, cinematic, soft light, shallow depth of field, playful, wholesome\",   \"camera\": {     \"type\": \"steadicam/dolly\",     \"movement\": \"gentle push-ins and micro orbits synced to downbeats\",     \"lens\": \"50–85mm portrait feel\"   },   \"lighting\": {     \"type\": \"soft + rim\",     \"sources\": \"warm key from camera-left, cyan rim from back-right, practical lab glows\",     \"fx\": \"subtle bokeh, very light volumetrics\"   },   \"environment\": {     \"location\": \"friendly futuristic lab\",     \"set_pieces\": [\"benches with soft cyan lights\", \"cute glass beakers\", \"tiny hologram panel\"],     \"mood\": \"clean, upbeat, curious\"   },   \"subject\": {     \"host\": {       \"description\": \"adorable lab-mascot with big bright eyes, fluffy collar, white lab coat with colorful pens\",       \"pose\": \"open posture, small head bops, enthusiastic paw gestures\",       \"identity_lock\": \"must match reference_image_url across all shots\"     }   },   \"learning_goal\": \"One clear takeaway in one sentence (kid-safe wording).\",   \"lyrics_input\": \"<paste raw lyrics here>\",   \"beat_map\": [     { \"t_start\": 0.00, \"t_end\": 2.20, \"lyric\": \"<line 1>\", \"syllables\": 6 },     { \"t_start\": 2.20, \"t_end\": 4.60, \"lyric\": \"<line 2>\", \"syllables\": 7 }   ],   \"shots\": [     {       \"id\": \"S1\",       \"t_start\": 0.00,       \"t_end\": 3.00,       \"purpose\": \"Meet the host; start the hook\",       \"framing\": \"medium close-up\",       \"camera\": \"gentle push-in\",       \"action\": \"host smiles, inhales subtly, starts singing; paw pops on first downbeat\",       \"lip_sync_to\": [0],       \"veo_prompt\": \"Vertical 9:16. Cute lab-mascot matching the reference image sings in a softly lit futuristic lab. Realistic fur, glossy eyes, shallow DOF, cyan accents, gentle push-in. No text, no watermarks.\"     },     {       \"id\": \"S2\",       \"t_start\": 3.00,       \"t_end\": 6.00,       \"purpose\": \"Teach the core fact beat\",       \"framing\": \"tight close-up\",       \"camera\": \"locked with micro handheld breathing\",       \"action\": \"mouth shapes AA/EE on stressed syllables; head bop on beats; quick glance to tiny hologram\",       \"lip_sync_to\": [1],       \"veo_prompt\": \"Close-up of the same mascot with precise lip-sync, cyan rim light, soft key, shallow DOF. No text.\"     }   ],   \"motion\": {     \"type\": \"playful gestures + small hologram cutaways\",     \"details\": \"on emphasized words, a tiny lab hologram blips on/off; subtle paw arcs timed to downbeats\"   },   \"vfx\": {     \"hologram\": \"soft cyan HUD elements that appear briefly (no readable text)\",     \"particles\": \"very light dust motes in the bokeh\"   },   \"audio\": {     \"music\": \"use provided song only\",     \"sfx\": [\"soft woosh on camera push\", \"tiny blip when hologram appears\"],     \"ambience\": \"low room tone\",     \"lip_sync\": \"strong; map visemes (MBP, EE, OH, FV) to lyric phonemes; align to beat_map\"   },   \"ending\": \"Host lands on a cute smile + tiny paw wave; quick 0.4s hold; fade out audio tail.\",   \"safety_and_rules\": [     \"no on-screen text or captions\",     \"brand-safe, kid-safe\",     \"keep host identity consistent with reference image\",     \"no logos/watermarks beyond platform defaults\"   ],   \"keywords\": [\"cute\", \"educational\", \"mascot\", \"science fact\", \"soft sci-fi lab\", \"vertical video\"] }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        4464
      ],
      "id": "2faba06a-c4b6-4b84-99f1-05a3b0bdc1e2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1008,
        4800
      ],
      "id": "688ad759-25e0-4044-a5e6-5ff3d1c53906",
      "name": "Wait",
      "webhookId": "fa4b8fa8-203b-40c3-9370-2f961983c816",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        4720
      ],
      "id": "85d347d6-d60b-46b3-a0cc-9e11f16cf5e8",
      "name": "HTTP Request2",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "534dab23-0283-4363-8adf-fe3bf721ab73",
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        4800
      ],
      "id": "b63588e0-0e00-4e99-b33c-dcbe7f4d5972",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const structuredPrompt = $input.first().json.output.final_prompt;\nreturn {\n  json: {\n    prompt: JSON.stringify(structuredPrompt), // this escapes it correctly!\n    model: \"veo3_fast\",\n    aspectRatio: \"9:16\"\n  }\n}\n"
      },
      "id": "c0b85b46-2f66-4c72-bf57-f2813ad3b4cc",
      "name": "Format Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        352,
        5312
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kieai.redpandaai.co/api/file-url-upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileUrl",
              "value": "drive.google.com/uc?export=download&id=1KaY5aIfDSLle062iYli6xN8tnwE2q94s"
            },
            {
              "name": "uploadPath",
              "value": "images/downloaded"
            },
            {
              "name": "fileName",
              "value": "=my-downloaded-image-{{$now.format('yyyy-MM-dd-HH-mm-ss')}}.png"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        1232
      ],
      "id": "c28b7ba2-811b-4d85-8216-fd59646eee1f",
      "name": "HTTP Request3",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1KaY5aIfDSLle062iYli6xN8tnwE2q94s",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        4896
      ],
      "id": "2ea2edb9-d6c8-4ac3-978c-19e6091fbc3e",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  console.log(item.binary)\n}\n\n\n// Converts item.binary.data -> base64 and stores it in item.json.base64\n// Also adds a data: URL for convenience.\nreturn $input.all().map(item => {\n  const binProp = 'data'; // change if your binary prop is named differently\n  const buf = item.binary.data;\n\n  const mime =\n    (item.binary?.[binProp]?.mimeType) ||\n    'application/octet-stream';\n\n  item.json = {\n    ...item.json,\n    buf,\n    fileName: item.binary?.[binProp]?.fileName || 'file.bin',\n    mimeType: mime,\n  };\n\n  return buf;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        4896
      ],
      "id": "3ab18f6f-0c7c-4714-a986-7c45d254847a",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1904,
        4704
      ],
      "id": "08920749-d22c-4c65-9db5-50418aa4a011",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a076f882-1a40-4aca-8cf2-318b031fdb4f",
              "leftValue": "={{ $json.msg }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        4896
      ],
      "id": "8ee4eba3-3d0d-4c42-9b07-95aff304a125",
      "name": "If2"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "846456961419444304",
          "mode": "list",
          "cachedResultName": "Tomasiknos diary",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304"
        },
        "channelId": {
          "__rl": true,
          "value": "1417600388479189136",
          "mode": "list",
          "cachedResultName": "videos-notification",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304/1417600388479189136"
        },
        "content": "Sending request to create video failed, check logs\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1008,
        4992
      ],
      "id": "9c591899-7466-4d78-a6ca-ce921fc83551",
      "name": "Send a message",
      "webhookId": "849698ae-b7ef-414a-8d4e-d68c8353b55e",
      "credentials": {
        "discordBotApi": {
          "id": "kODEUwvmo26ApL4g",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kieai.redpandaai.co/api/file-base64-upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "base64Data",
              "value": "={{$json.data}}"
            },
            {
              "name": "uploadPath",
              "value": "images/base64"
            },
            {
              "name": "fileName",
              "value": "=test-image{{$now.format('yyyy-MM-dd-ss:mm')}}.png"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        4896
      ],
      "id": "06422cb5-650a-4eb3-9766-59f4ff193b93",
      "name": "Upload image to kei",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ $('Format Prompt').item.json.prompt }},\n  \"imageUrls\": [\n    \"{{ $json.data.downloadUrl }}\"\n  ],\n  \"model\": \"{{ $('Format Prompt').item.json.model }}\",\n  \"watermark\": \"EeveesSongs\",\n  \"callBackUrl\": \"http://your-callback-url.com/complete\",\n  \"aspectRatio\": \"{{ $('Format Prompt').item.json.aspectRatio }}\",\n  \"seeds\": {{ Math.floor(Math.random() * 90000) + 10000 }},\n  \"enableFallback\": false,\n  \"enableTranslation\": true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        4896
      ],
      "id": "bfb8a794-5a2a-4271-800f-9237d76a4bfd",
      "name": "Post request to generate video",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "276822ad-b580-4a8c-b893-99eae452add9",
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        4800
      ],
      "id": "20561311-f19f-49ef-bc95-c37f5e25dc0e",
      "name": "If3"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "846456961419444304",
          "mode": "list",
          "cachedResultName": "Tomasiknos diary",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304"
        },
        "channelId": {
          "__rl": true,
          "value": "1417600388479189136",
          "mode": "list",
          "cachedResultName": "videos-notification",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304/1417600388479189136"
        },
        "content": "Video generation failes. Check logs.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1904,
        4896
      ],
      "id": "1bf8f061-2ed9-48a2-b0b7-6feb552d30d7",
      "name": "Send a message1",
      "webhookId": "badc5b46-9111-40b7-b603-681510d143fe",
      "credentials": {
        "discordBotApi": {
          "id": "kODEUwvmo26ApL4g",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a UGC-style video prompt using both the reference image and the user description.  \n\n**Inputs**  \n- User description (optional):  \n  `{{ $('Theme clanker').item.json.output.one_liner }}`  \n- Reference image analysis (stay strictly faithful to what’s visible):  \n  `https://drive.google.com/file/d/1KaY5aIfDSLle062iYli6xN8tnwE2q94s/view?usp=drive_link`  \n\n**Rules**  \n- Keep the style casual, authentic, and realistic. Avoid studio-like or cinematic language.  \n- Default model: `veo3_fast` (unless otherwise specified).  \n- Output only **one JSON object** with the key: `video_prompt`.  \n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt:\n  ## SYSTEM PROMPT: Structured Video Ad Prompt Generator\n  A - Ask:\n    Generate a structured video ad prompt for cinematic generation, strictly based on the master schema provided in: {{ $json.json_master }}\n\n    The final result must be a JSON object with exactly two top-level keys: `title` and `final_prompt`.\n\n  G - Guidance:\n    role: Creative Director\n    output_count: 1\n    character_limit: None\n    constraints:\n      - The output must be valid JSON.\n      - The `title` field should contain a short, descriptive and unique title (max 15 words).\n      - The `final_prompt` field must contain a **single-line JSON string** that follows the exact structure of {{ $json.json_master }} with all fields preserved.\n      - Do not include any explanations, markdown, or extra text — only the JSON object.\n      - Escape all inner quotes in the `final_prompt` string so it is valid as a stringified JSON inside another JSON.\n    tool_usage:\n      - Ensure consistent alignment across all fields (camera, lighting, motion, etc.).\n      - Maintain full structure even for optional fields (use \"none\", \"\", or [] as needed).\n\n  N - Notation:\n    format: JSON\n    expected_output:\n      {\n        \"title\": \"A unique short title for the scene\",\n        \"final_prompt\": \"{...stringified JSON of the full prompt...}\"\n      }\n\n"
        }
      },
      "id": "8a4e789e-fdb9-4906-8c7f-ac967eeaa596",
      "name": "Generate Video Script Clanker",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -48,
        5216
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/edit/stage/render",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "ptmpOiyKgGYMnnONwvXH7FHzDGOazrIjaEDUS7Cf"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "@hello.json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        4704
      ],
      "id": "4da18024-679a-46c0-88a9-00091e48fa62",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role:\nYou are a senior video prompt-engineer for Google Veo 3. Create a short-form, sings to a supplied lyrics. You must: 1) turn the lyrics into a tight shot plan, 2) align visuals lyrics, and 3) output VEO-3 ready prompts (no on-screen text).\n\nInputs:\nTITLE: {{ $('lyrics clanker').item.json.output.title }}\n\nLYRICS: \nVERSE: {{ $('lyrics clanker').item.json.output.verse }}\nCHORUS: {{ $('lyrics clanker').item.json.output.chorus }}\nOUTRO: {{ $('lyrics clanker').item.json.output.outro }}\nHOOK: {{ $('lyrics clanker').item.json.output.hook }}\n\n\nTARGET_DURATION_SEC: 60s\n\nBPM: 140\n\nCreative direction (apply):\n\nFormat: 9:16 vertical, TikTok/Reels ready, no captions/subtitles/watermarks.\n\nSet: soft sci-fi lab (cool practical lights + soft key light, shallow depth of field).\n\nCamera grammar: mostly mid-shots & close-ups; add tasteful push-ins, gentle dolly, occasional over-the-shoulder to holograms or props that are relevant to the lyrics.\n\nColor: clean neutrals with cyan highlights; skin/fur natural; no harsh saturation.\n\nMotion: smooth, rhythmic to the beat; micro-gestures, head bobs, paw/hand cues.\n\nAbsolutely no on-screen text (lyrics, titles, lower-thirds).\n\nSafe for work.\n\nAudio & lip-sync (enforce):\n\nUse AUDIO_URL for audio conditioning / timing.\n\nStrong lip-sync; map visemes (AA, EE, OH, FV, MBP) to word phonemes.\n\nIf no per-word timing is available, estimate from BPM and syllable counts.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -704,
        4464
      ],
      "id": "9c7588a9-12f4-426a-b139-522c998e99a7",
      "name": "Video script timing clanker",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "id": "bb08a875-24be-4e81-a295-55bade1194cd",
      "name": "OpenAI Chat Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -288,
        3152
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "x4WuZYjSfm0LFGHN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "e53ca525-0959-49d6-a250-6ea10252eaba",
      "name": "Think4",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        -160,
        3152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"final_prompt\": \"string\"\n}\n"
      },
      "id": "a23d2d7c-f210-4b21-898e-f56f488700f3",
      "name": "Structured Output Parser5",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -48,
        3152
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior prompt-engineer for Google VEO-3. Produce a short-form vertical video prompt for a single image input, preserving visual continuity (subject, styling, props). Output one cohesive prompt (no on-screen text). Final prompt should include mention of eevee sounds and music in the background. Eevee should be active and not standing around.\n\n\nContinuity: Match Eevee’s look, realistic fur, lighting vibe, LOCATION, props, and time-of-day indicated in image.\n\nEevee notices the one of the OBEJCTS infront of her and plays with it or pushes it away or reacts in cute/funny way or uses it for her entertainment or bites it or topples it. There needs to be action. Eevee is a clumsy and curious creature. Prioritize Eevee pushing objects/toppling and playing with objects. Could use the objects if possible to kick out of frame. There needs to be interaction with the objects and it needs to be cute.\n\nGlobal constraints\n\nHyper-adorable, wholesome. Contact with object.\nSubject: Eevee faces camera; Eevee should make cute Eevee to fox like like noises (ee, eev, vee). Quiet chill song in the background\nReal-world physics; life-sized; LOCATION must be plausible.\nCamera can move throu the space like someone is recording her for home video, so not a proffesional camera. Output needs to be json ready. No empty lines and special chars.\n\nInputs\n\nMOOD: {{ $('Theme clanker').item.json.output.mood }}\nOBEJCTS: {{ $('Theme clanker').item.json.output.objects_in_scene }}\nWHAT_EEVEE_IS_DOING:{{ $('Theme clanker').item.json.output.what_eevee_is_doing }}\nSTYLE (fallback if missing): cute, cinematic, soft light, cozy, colorful, glossy highlights, airy, high key, natural materials, filmic grain, studio rim light, warm tones, gentle bloom, realistic fur.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "="
        }
      },
      "id": "334b5ea7-6288-4787-8e35-194c551972d3",
      "name": "Generate Video Script Clanker1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -224,
        2960
      ],
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"prompt\": \"{{ $('Theme clanker').item.json.output.prompt }}\",\n    \"output_format\": \"png\",\n    \"image_size\": \"9:16\"\n  }\n}",
        "options": {}
      },
      "id": "1caadc11-3f7f-4ee2-be3b-b2cf9ac4b0a1",
      "name": "NanoBanana: Create Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        832,
        2448
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "foWS03OsC9HJFKQs",
          "name": "Gemini"
        },
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "eea0f9be-b4d5-47eb-b791-d2ea745d59ef",
      "name": "Wait for Image Edit",
      "type": "n8n-nodes-base.wait",
      "position": [
        1056,
        2448
      ],
      "webhookId": "77324de5-4707-48e3-9c1f-63e21f18be2e",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "efb4eb18-15e6-452e-ba81-6bd35def9bea",
      "name": "Download Edited Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1280,
        2368
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "foWS03OsC9HJFKQs",
          "name": "Gemini"
        },
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "name": "=eevee-img-{{ $('NanoBanana: Create Image').item.json.data.taskId }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1u3NLKJAZekpnEeDKfbFDMttdxeWoCRzv",
          "mode": "list",
          "cachedResultName": "songs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1u3NLKJAZekpnEeDKfbFDMttdxeWoCRzv"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -720,
        2960
      ],
      "id": "f6f6c991-9b12-4601-83b9-67441230b087",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ih6pau2KBlXO6pNC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kieai.redpandaai.co/api/file-base64-upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "base64Data",
              "value": "={{ $('Code in JavaScript5').item.json.data.data }}"
            },
            {
              "name": "uploadPath",
              "value": "images/base64"
            },
            {
              "name": "fileName",
              "value": "=test-image{{$now.format('yyyy-MM-dd-ss:mm')}}.png"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        2960
      ],
      "id": "18103b1f-44ac-48c6-9019-2bc664aaef49",
      "name": "Upload image to kei1",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Converts item.binary.data -> base64 and stores it in item.json.base64\n// Also adds a data: URL for convenience.\nreturn .map(item => {\n  const binProp = 'data'; // change if your binary prop is named differently\n  const buf = item.binary.data;\n\n  const mime =\n    (item.binary?.[binProp]?.mimeType) ||\n    'application/octet-stream';\n\n  let newItem = {\n    ...item.json,\n    buf,\n    fileName: item.binary?.[binProp]?.fileName || 'file.bin',\n    mimeType: mime,\n  };\n\n  return newItem;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        4480
      ],
      "id": "0b973bc7-c821-450c-ad7f-85834a701e96",
      "name": "Code in JavaScript3",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        768,
        2864
      ],
      "id": "bb36834c-cf52-4b3e-a698-9cb286b9e6f4",
      "name": "Wait1",
      "webhookId": "c070a563-0b96-4e9b-930d-357484b9c834"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "534dab23-0283-4363-8adf-fe3bf721ab73",
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        2864
      ],
      "id": "8eee5e6a-714d-4044-8b14-6390030ef80e",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a076f882-1a40-4aca-8cf2-318b031fdb4f",
              "leftValue": "={{ $json.msg }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        2960
      ],
      "id": "876f7cc8-b9e8-42e3-82c7-4849737a438b",
      "name": "If5"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "846456961419444304",
          "mode": "list",
          "cachedResultName": "Tomasiknos diary",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304"
        },
        "channelId": {
          "__rl": true,
          "value": "1417600388479189136",
          "mode": "list",
          "cachedResultName": "videos-notification",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304/1417600388479189136"
        },
        "content": "Sending request to create video failed, check logs\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        768,
        3056
      ],
      "id": "210181fb-d0f7-42f5-8bcd-a444e5ebd8c9",
      "name": "Send a message2",
      "webhookId": "9bef9731-0125-4f30-bb7a-75b4b00c364d",
      "credentials": {
        "discordBotApi": {
          "id": "kODEUwvmo26ApL4g",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "276822ad-b580-4a8c-b893-99eae452add9",
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        2864
      ],
      "id": "cf7a86fc-1bd0-4e6d-ac6c-78842d3b157a",
      "name": "If6"
    },
    {
      "parameters": {
        "url": "={{ $('Download Edited Image').item.json.data.resultJson.parseJson().resultUrls[0] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        2592
      ],
      "id": "72a55c2f-f89e-4ee4-859b-3b6c9621391d",
      "name": "Dowload nano banana image from kei",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data.response.resultUrls[0] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        2864
      ],
      "id": "7d17c551-73ec-4cfd-9a8e-7ff9548de413",
      "name": "Request video info",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NYWE2eTlJYQ0WPTb",
          "mode": "list",
          "cachedResultName": "Automate Video Content Posting to Multiple Social Platforms with Postiz"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "videoId": "={{ $json.id }}",
            "prompt": "={{ $('Theme clanker').item.json.output.video_prompt }}",
            "tags": "={{ $('Theme clanker').item.json.output.tags }}",
            "videoTitle": "={{ $('Theme clanker').item.json.output.title }}",
            "videoDesc": "={{ $('Theme clanker').item.json.output.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "videoTitle",
              "displayName": "videoTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoDesc",
              "displayName": "videoDesc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2112,
        2864
      ],
      "id": "d6bcf85b-93d7-48bf-9885-616b9a12335e",
      "name": "Call 'Automate Video Content Posting to Multiple Social Platforms with Postiz'"
    },
    {
      "parameters": {
        "name": "=Eeveevideo-{{ $json.data.response.taskId }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1tnJQGapWf8ZHzSTTJ3KzVXaq5jRAsHf9",
          "mode": "list",
          "cachedResultName": "videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tnJQGapWf8ZHzSTTJ3KzVXaq5jRAsHf9"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1888,
        2864
      ],
      "id": "5abd5581-6d23-418c-baa8-824d9e652176",
      "name": "Upload video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ih6pau2KBlXO6pNC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -976,
        1456
      ],
      "id": "fb3a54c6-b6a1-4afd-bf50-20b77d7ff6b2",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: { ...item.json, data: item.binary.data },\n  binary: item.binary ?? {}\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        2960
      ],
      "id": "6601d091-ac67-44d1-9cda-c2a961698380",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "27358cd7-1b15-80e5-965f-d144b72c15b4",
          "mode": "list",
          "cachedResultName": "Themes",
          "cachedResultUrl": "https://www.notion.so/27358cd71b1580e5965fd144b72c15b4"
        },
        "limit": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -768,
        2448
      ],
      "id": "955b8b9f-d394-4e60-a76c-feab93d04d92",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "lDq6KxxGETipZmXY",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function fnv1a(str){let h=0x811c9dc5;for(let i=0;i<str.length;i++){h^=str.charCodeAt(i);h=(h>>>0)*0x01000193;}return (h>>>0);}\nreturn $input.all().map(item => ({\n  json: { ...item.json, id: fnv1a((item.json.text ?? 'hello world')).toString(36), data: item.binary.data },\n  binary: item.binary ?? {}\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        1456
      ],
      "id": "7cabcfbf-9c4b-4645-af00-8e411c8f8a25",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $json.id }}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1UshlYoqe8MOV28CsUVPNpemhPIHkWeee",
          "mode": "list",
          "cachedResultName": "ids",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1UshlYoqe8MOV28CsUVPNpemhPIHkWeee"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -528,
        1456
      ],
      "id": "b062c86a-1475-4efb-a670-0b1982f86fe8",
      "name": "Upload file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ih6pau2KBlXO6pNC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\":\"{{ $('Theme clanker').item.json.output.video_prompt }}\",\n  \"imageUrls\": [\n    \"{{ $('Upload image to kei1').item.json.data.downloadUrl }}\"\n  ],\n  \"model\": \"veo3_fast\",\n  \"watermark\": \"EeveesSongs\",\n  \"callBackUrl\": \"http://your-callback-url.com/complete\",\n  \"aspectRatio\": \"9:16\",\n  \"seeds\": {{ Math.floor(Math.random() * 90000) + 10000 }},\n  \"enableFallback\": false,\n  \"enableTranslation\": true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        2960
      ],
      "id": "d6164d48-45bd-4f27-8642-b4d462a0c957",
      "name": "Post request to generate video1",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -176,
        2672
      ],
      "id": "6bcdf87c-fe55-4ef9-93e6-d6274bf00886",
      "name": "Think2"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "846456961419444304",
          "mode": "list",
          "cachedResultName": "Tomasiknos diary",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304"
        },
        "channelId": {
          "__rl": true,
          "value": "1417600388479189136",
          "mode": "list",
          "cachedResultName": "videos-notification",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304/1417600388479189136"
        },
        "message": "=📹 **New Video Concept Created!**  \n👉 [{{ $('Theme clanker').item.json.output.title }}]({{ $json.data.resultJson.parseJson().resultUrls }})  \n{{ $json.data.resultJson.parseJson().resultUrls }}\nDo you approve? ✅❌\n------------------------",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1728,
        2448
      ],
      "id": "5402684e-8f01-4244-b622-6669b1162e70",
      "name": "Send message and wait for response",
      "webhookId": "59911f8e-5184-4446-af10-ef57618de01e",
      "credentials": {
        "discordBotApi": {
          "id": "kODEUwvmo26ApL4g",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "209f3354-931f-46a0-8b8e-10b2337200ce",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1936,
        2448
      ],
      "id": "70d744ea-f3a4-4ecc-bb80-72ee87af8e13",
      "name": "If7"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        2784
      ],
      "id": "66b19f0b-4e20-4153-a9c9-728006226d6e",
      "name": "Check video status",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d8cacba-15ca-4a89-b063-d3093d9818b0",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "generating",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "65fe8425-8fd0-4642-8aaf-11ea5401d223",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "waiting",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        2448
      ],
      "id": "85616b75-6cdb-4bc3-9915-9f46bb5fddb0",
      "name": "is image generating"
    }
  ],
  "connections": {
    "Wait for Music Processing": {
      "main": [
        [
          {
            "node": "Poll Music Generation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Music Generation Status": {
      "main": [
        [
          {
            "node": "Check if Music Generation Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Music Generation Complete": {
      "main": [
        [
          {
            "node": "Format and Display Music Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Music Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "lyrics clanker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "lyrics clanker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Video script timing clanker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Theme clanker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "NanoBanana: Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Theme clanker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Theme clanker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Video script timing clanker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "lyrics clanker": {
      "main": [
        []
      ]
    },
    "Theme clanker": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request create song": {
      "main": [
        [
          {
            "node": "Wait for Music Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format and Display Music Results": {
      "main": [
        [
          {
            "node": "Download songs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        []
      ]
    },
    "Download songs": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        []
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Video script timing clanker",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "lyrics clanker",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Video Script Clanker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think3": {
      "ai_tool": [
        [
          {
            "node": "Generate Video Script Clanker",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Video Script Clanker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Video script timing clanker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Prompt": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        []
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Upload image to kei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image to kei": {
      "main": [
        [
          {
            "node": "Post request to generate video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post request to generate video": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Script Clanker": {
      "main": [
        [
          {
            "node": "Format Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video script timing clanker": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Video Script Clanker1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think4": {
      "ai_tool": [
        [
          {
            "node": "Generate Video Script Clanker1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Video Script Clanker1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Script Clanker1": {
      "main": [
        [
          {
            "node": "Post request to generate video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NanoBanana: Create Image": {
      "main": [
        [
          {
            "node": "Wait for Image Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Image Edit": {
      "main": [
        [
          {
            "node": "Download Edited Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Edited Image": {
      "main": [
        [
          {
            "node": "is image generating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image to kei1": {
      "main": [
        [
          {
            "node": "Generate Video Script Clanker1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Upload image to kei1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Check video status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dowload nano banana image from kei": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Request video info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request video info": {
      "main": [
        [
          {
            "node": "Upload video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload video": {
      "main": [
        [
          {
            "node": "Call 'Automate Video Content Posting to Multiple Social Platforms with Postiz'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        []
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post request to generate video1": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "Theme clanker",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Dowload nano banana image from kei",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check video status": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is image generating": {
      "main": [
        [
          {
            "node": "Wait for Image Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateId": "6046",
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Upload image to kei": [
      {
        "json": {
          "success": true,
          "code": 200,
          "msg": "文件上传成功",
          "data": {
            "success": true,
            "fileName": "test-image2025-09-20-46:45.png",
            "filePath": "kieai/179288/images/base64/test-image2025-09-20-46:45.png",
            "downloadUrl": "https://tempfile.redpandaai.co/kieai/179288/images/base64/test-image2025-09-20-46:45.png",
            "fileSize": 1850427,
            "mimeType": "image/png",
            "uploadedAt": "2025-09-20T15:45:49.552Z"
          }
        }
      }
    ],
    "Post request to generate video": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "abe48936a40ee34cff45fe28716a4065"
          }
        }
      }
    ],
    "Generate Video Script Clanker": [
      {
        "json": {
          "output": {
            "title": "Fun Science Fact with Lab Mascot Singing",
            "final_prompt": "{\"title\":\"Fun Science Fact with Lab Mascot Singing\",\"goal\":\"Teach one fun science fact in a friendly, kid-safe way while the mascot host sings to the final song. No on-screen captions.\",\"format\":{\"platform\":\"TikTok / Reels\",\"aspect_ratio\":\"9:16\",\"resolution\":\"1080x1920\",\"fps\":24,\"duration_sec\":40},\"assets\":{\"audio_url\":\"<https link to final song>\",\"reference_image_url\":\"https://drive.google.com/file/d/1KaY5aIfDSLle062iYli6xN8tnwE2q94s/view?usp=drive_link\"},\"scene_summary\":\"Soft sci-fi lab; cozy, bright, and clean. The cute lab-mascot explains a single science fact with simple gestures and bouncy timing.\",\"style\":\"cute, cinematic, soft light, shallow depth of field, playful, wholesome\",\"camera\":{\"type\":\"steadicam/dolly\",\"movement\":\"gentle push-ins and micro orbits synced to downbeats\",\"lens\":\"50\u001385mm portrait feel\"},\"lighting\":{\"type\":\"soft + rim\",\"sources\":\"warm key from camera-left, cyan rim from back-right, practical lab glows\",\"fx\":\"subtle bokeh, very light volumetrics\"},\"environment\":{\"location\":\"friendly futuristic lab\",\"set_pieces\":[\"benches with soft cyan lights\",\"cute glass beakers\",\"tiny hologram panel\"],\"mood\":\"clean, upbeat, curious\"},\"subject\":{\"host\":{\"description\":\"adorable lab-mascot with big bright eyes, fluffy collar, white lab coat with colorful pens\",\"pose\":\"open posture, small head bops, enthusiastic paw gestures\",\"identity_lock\":\"must match reference_image_url across all shots\"}}},\"learning_goal\":\"One clear takeaway in one sentence (kid-safe wording).\",\"lyrics_input\":\"<paste raw lyrics here>\",\"beat_map\":[{\"t_start\":0.00,\"t_end\":2.20,\"lyric\":\"<line 1>\",\"syllables\":6},{\"t_start\":2.20,\"t_end\":4.60,\"lyric\":\"<line 2>\",\"syllables\":7}],\"shots\":[{\"id\":\"S1\",\"t_start\":0.00,\"t_end\":3.00,\"purpose\":\"Meet the host; start the hook\",\"framing\":\"medium close-up\",\"camera\":\"gentle push-in\",\"action\":\"host smiles, inhales subtly, starts singing; paw pops on first downbeat\",\"lip_sync_to\":[0],\"veo_prompt\":\"Vertical 9:16. Cute lab-mascot matching the reference image sings in a softly lit futuristic lab. Realistic fur, glossy eyes, shallow DOF, cyan accents, gentle push-in. No text, no watermarks.\"},{\"id\":\"S2\",\"t_start\":3.00,\"t_end\":6.00,\"purpose\":\"Teach the core fact beat\",\"framing\":\"tight close-up\",\"camera\":\"locked with micro handheld breathing\",\"action\":\"mouth shapes AA/EE on stressed syllables; head bop on beats; quick glance to tiny hologram\",\"lip_sync_to\":[1],\"veo_prompt\":\"Close-up of the same mascot with precise lip-sync, cyan rim light, soft key, shallow DOF. No text.\"}],\"motion\":{\"type\":\"playful gestures + small hologram cutaways\",\"details\":\"on emphasized words, a tiny lab hologram blips on/off; subtle paw arcs timed to downbeats\"},\"vfx\":{\"hologram\":\"soft cyan HUD elements that appear briefly (no readable text)\",\"particles\":\"very light dust motes in the bokeh\"},\"audio\":{\"music\":\"use provided song only\",\"sfx\":[\"soft woosh on camera push\",\"tiny blip when hologram appears\"],\"ambience\":\"low room tone\",\"lip_sync\":\"strong; map visemes (MBP, EE, OH, FV) to lyric phonemes; align to beat_map\"},\"ending\":\"Host lands on a cute smile + tiny paw wave; quick 0.4s hold; fade out audio tail.\",\"safety_and_rules\":[\"no on-screen text or captions\",\"brand-safe, kid-safe\",\"keep host identity consistent with reference image\",\"no logos/watermarks beyond platform defaults\"],\"keywords\":[\"cute\",\"educational\",\"mascot\",\"science fact\",\"soft sci-fi lab\",\"vertical video\"]}"
          }
        }
      }
    ]
  },
  "versionId": "b6839130-e0a9-4907-81ae-3983e365c624",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-30T11:59:16.758Z",
      "updatedAt": "2025-09-30T11:59:16.758Z",
      "role": "workflow:owner",
      "workflowId": "Lu9odjLr1wKXUSh7",
      "projectId": "kqMrkEZYsdGVbgzw"
    }
  ],
  "tags": []
}