workflows/reels-eevee-vlogs-clanker---v1-MfFKZNY50TWSsyIi.json
{
  "updatedAt": "2025-09-25T10:44:04.000Z",
  "createdAt": "2025-09-23T14:15:21.769Z",
  "id": "MfFKZNY50TWSsyIi",
  "name": "Reels eevee vlogs clanker - v1",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        2416
      ],
      "id": "da86a11b-f5b2-49d9-89d3-8038bebc6139",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -304,
        2672
      ],
      "id": "9147b8c4-ab81-4c51-8052-95083870c3e2",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "x4WuZYjSfm0LFGHN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "27358cd7-1b15-80e5-965f-d144b72c15b4",
          "mode": "list",
          "cachedResultName": "27358cd7-1b15-80e5-965f-d144b72c15b4",
          "cachedResultUrl": "https://www.notion.so/27358cd71b1580e5965fd144b72c15b4"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Theme|title",
              "title": "={{ $json.title }}"
            },
            {
              "key": "OneLiner|rich_text",
              "textContent": "={{ $json.prompt }}"
            },
            {
              "key": "Hash|number",
              "numberValue": "={{ $json._hash }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        608,
        2448
      ],
      "id": "cb9b8336-5f1f-4061-9cf9-0e2511fb4f93",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "lDq6KxxGETipZmXY",
          "name": "Notion account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Input: Agent JSON on $json.data; past themes on $json.pastThemes (array of strings)\n// Output: either passes through or throws to trigger a regenerate loop\n\nfunction normalize(s) {\n  return s.toLowerCase().replace(/\\s+/g, ' ').trim();\n}\n\nfunction jaroWinkler(s1, s2) {\n  // Lightweight similarity; good enough for titles\n  const m = Math.floor(Math.max(s1.length, s2.length) / 2) - 1;\n  let matches1 = new Array(s1.length).fill(false);\n  let matches2 = new Array(s2.length).fill(false);\n  let matches = 0, transpositions = 0;\n\n  for (let i = 0; i < s1.length; i++) {\n    const start = Math.max(0, i - m), end = Math.min(i + m + 1, s2.length);\n    for (let j = start; j < end; j++) {\n      if (!matches2[j] && s1[i] === s2[j]) { matches1[i] = matches2[j] = true; matches++; break; }\n    }\n  }\n  if (matches === 0) return 0;\n\n  let k = 0;\n  for (let i = 0; i < s1.length; i++) {\n    if (matches1[i]) {\n      while (!matches2[k]) k++;\n      if (s1[i] !== s2[k]) transpositions++;\n      k++;\n    }\n  }\n  transpositions /= 2;\n\n  const j = (matches / s1.length + matches / s2.length + (matches - transpositions) / matches) / 3;\n\n  // Winkler prefix boost\n  let prefix = 0;\n  for (let i = 0; i < Math.min(4, s1.length, s2.length); i++) {\n    if (s1[i] === s2[i]) prefix++; else break;\n  }\n  return j + prefix * 0.1 * (1 - j);\n}\n\nconst agent = $json.output; // JSON from Agent\nconst theme = normalize(agent.prompt || '');\nconst line  = normalize(agent.title || '');\n\nconst past = ($json.pastThemes || []).map(normalize);\nconst candidate = `${theme} | ${line}`;\n\n// Quick hash to catch exact/near-exact repeats\nfunction simpleHash(s) {\n  let h = 0; for (let i = 0; i < s.length; i++) h = (h * 31 + s.charCodeAt(i)) | 0;\n  return h >>> 0;\n}\nconst candHash = simpleHash(candidate);\n\n// Thresholds: adjust to be stricter/looser\nconst SIM_THRESH = 0.90; // 0..1 (higher = stricter)\n\nlet tooSimilar = false;\nfor (const prev of past) {\n  const sim = jaroWinkler(candidate, prev);\n  if (sim >= SIM_THRESH || simpleHash(prev) === candHash) {\n    tooSimilar = true; break;\n  }\n}\n\nif (tooSimilar) {\n  // Throwing makes the node fail and lets you loop back to the Agent\n  throw new Error('Theme too similar to a past entry. Regenerate.');\n}\n\n// If it's unique, expose it for saving\nreturn { ...agent, _hash: candHash };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        2448
      ],
      "id": "e4ee93a6-9cb4-447c-b492-2d3a171a4d07",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd34a46c-85f5-42a1-a056-cf1108603b6f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        2448
      ],
      "id": "9d249829-2145-41a3-9aab-ae78e00cae36",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Input is many items from Data Store. We output ONE item.\nconst themes = $('Get many database pages').all().map(i => {\n  console.log(i);\n  const t = i.json.name || '';\n  const l = i.json.property_one_liner || '';\n  return `${t} | ${l}`.trim();\n});\nreturn [{ json: { pastThemes: themes } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        2448
      ],
      "id": "9a8508b5-2498-4f2f-9130-91f245993895",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"style\": \"string\",\n  \"location\": \"string\",\n  \"mood\": \"string\",\n  \"aspect_ratio\": \"9:16\",\n  \"title\": \"title\",\n  \"description\": \"desc\",\n  \"tags\": [\"pokemon\", \"eevee\", \"cute\"],\n  \"negative_prompt\": \"text, captions, UI, logos, watermark, gore, injury, violence, distress, hypersexualization, extra limbs, deformed eyes, poor anatomy, low-res, heavy blur, glitches, jpeg artifacts\",\n  \"prompt\": \"sentences describing the exact shot to render.\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -32,
        2672
      ],
      "id": "dee87ef8-a4cc-4162-8053-7766caf586cd",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=GOAL\nProduce a smooth, realistic, hyper-adorable vlog clip: Eevee faces the camera, holds a selfie stick at arm’s length, makes cute Eevee noises (no speech), moves through a relatable location, and performs a simple daily activity.\n\nINPUTS\n\nMOOD:  playful | curious | cozy | energetic | morning-sleepy | evening-chill \n\nLOCATION: kitchen | park path  | cozy bedroom | meadow | riverside walkway | café patio | apartment hallway\n\nACTIVITY: making breakfast | watering a plant | choosing a snack | waiting for tram | folding a tiny scarf | unboxing mail | doing light stretches | tasting a strawberry | organizing bag | checking weather\n\nTIME_OF_DAY: golden morning | bright noon | blue hour | night with warm lamps\n\nWEATHER (if outdoors): clear | soft overcast | gentle drizzle | light snow flurries \n\nSTYLE:  cute, cinematic, soft light, cozy, colorful, airy, realistic fur, gentle bloom, filmic grain, warm tones \n\nBPM/PACE (optional feel only):  mellow | mid-tempo | upbeat\n\nRANDOM_SEED: {{ (Math.floor(Math.random()*9000000000)+10000000) }}\n\nGLOBAL CONSTRAINTS\n\nNo text/logos/watermarks/UI. PG-friendly.\n\nSELFIE-STICK / CAMERA LANGUAGE (must-have)\n\nArm-length composition; slight wide-angle perspective; gentle handheld sway.\n\nMicro lens breathing on focus pulls; faint barrel distortion at edges.\n\nSubtle rolling-shutter wobble on quick turns; mild exposure auto-adjust when panning across windows/lights.\n\nOccasional shadow of selfie stick on ground/wall; tiny wrist rotations while walking.\n\nOne clean camera move: either slow dolly-in (Eevee leans toward lens) or quarter-orbit while standing.\n\nMOTION LAYERS (make each visible)\n\nSubject (Eevee): ear flicks, head tilts, soft blinks, tiny hops/steps, tail swishes, brief sniff at lens, one cute nose boop toward camera.\n\nCamera (selfie POV): gentle sway, micro rack-focus (Eevee → prop → Eevee), small yaw/pitch as wrist adjusts.\n\nEnvironment: items that naturally move for the LOCATION (e.g., kettle steam, tram arrival lights blinking, washing machines rotating, leaves fluttering, shop door chime swing, sun motes/dust).\n\nLIGHTING & MATERIALITY\n\nSoft, natural key light; believable bounce; rim light on fur; subtle specular highlights on eyes; shallow DOF for close-ups.\n\nReal-world textures: plush yet realistic fur clumping, paw pads, fabric weave, wood grain, metal sheen on selfie stick clamp.\n\nAUDIO NOTES (non-verbal)\n\nEevee: short, cute fox-like chirps/“vee-vee” hums synced to actions (tilt, hop, boop).\n\nAmbience: room tone / street hush / distant tram bell / kettle hiss / page flip—very light.\n\nNo music unless very faint tonal bed (optional), no lyrics.\n\nACTION BEATS (pick 3–4, fit within DURATION)\n\nEstablish: Eevee raises selfie stick; looks into lens; soft chirp.\n\nActivity moment: ACTIVITY with clear hand/paw interaction (e.g., taps kettle button, selects snack, waters plant, waves tram card).\nNEGATIVE PROMPTS\nNo text overlays, no UI, no logos/brands, no violence, no falls/collisions, no unrealistic physics (keep weight, inertia, and fur response believable).\n\nOUTPUT FORMAT (what VEO-3 should produce)\n“One cohesive prompt describing a single 9:16 video with: MOOD, LOCATION, ACTIVITY, TIME_OF_DAY, WEATHER (if outdoors), selfie-stick camera language, the three motion layers, the action beats, lighting/materiality, and audio notes, honoring GLOBAL CONSTRAINTS and NEGATIVE PROMPTS. Use natural prose (no lists)”\n\nPARAMETERS (guide the model)\n\nShot: selfie close to chest/face; occasional mid-torso cut-in.\n\nFocal: 18–24mm full-frame equiv (selfie wide).\n\nAperture look: shallow DOF, smooth bokeh.\n\nColor: warm-neutral white balance.\n\nCompression: minimal artifacts; clean motion cadence.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=ROLE\nYou are a prompt-engineer for an image model. Generate one still-image prompt of Eevee while playing a sport straight toward the camera (action aimed at the lens), no speech, only cute Eevee sounds in the imagined video. Also output a YouTube Shorts Title + Description for the video we’ll cut from this image. Output needs to be json ready.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -240,
        2448
      ],
      "id": "5add27e4-efb2-4e9a-b045-70094c0604c3",
      "name": "Theme clanker"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "id": "2a21f925-1cff-4a48-9691-d7ab013a63e4",
      "name": "OpenAI Chat Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -256,
        3152
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "x4WuZYjSfm0LFGHN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "9af2a15a-7066-4093-8752-bfbacebe3cbc",
      "name": "Think4",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        -160,
        3152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"final_prompt\": \"string\"\n}\n"
      },
      "id": "00eb8173-fb70-4101-ab02-86ef13b6ea08",
      "name": "Structured Output Parser5",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -48,
        3152
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=GOAL\nProduce a smooth, realistic, hyper-adorable vlog clip: Eevee faces the camera, holds a selfie stick at arm’s length, makes cute Eevee noises (no speech), moves through a relatable location, and performs a simple daily activity.\n\nINPUTS\n\nMOOD:  playful | curious | cozy | energetic | morning-sleepy | evening-chill \n\nLOCATION: kitchen | park path  | cozy bedroom | meadow | riverside walkway | café patio | apartment hallway\n\nACTIVITY: making breakfast | watering a plant | choosing a snack | waiting for tram | folding a tiny scarf | unboxing mail | doing light stretches | tasting a strawberry | organizing bag | checking weather\n\nTIME_OF_DAY: golden morning | bright noon | blue hour | night with warm lamps\n\nWEATHER (if outdoors): clear | soft overcast | gentle drizzle | light snow flurries \n\nSTYLE:  cute, cinematic, soft light, cozy, colorful, airy, realistic fur, gentle bloom, filmic grain, warm tones \n\nBPM/PACE (optional feel only):  mellow | mid-tempo | upbeat\n\nRANDOM_SEED: {{ (Math.floor(Math.random()*9000000000)+10000000) }}\n\nGLOBAL CONSTRAINTS\n\nAudio: Cute Eevee vocalizations only; natural ambience (no lyrics/voiceover). Subtle foley (paw taps, fabric rustle, zipper click, snack crinkle).\n\nNo text/logos/watermarks/UI. PG-friendly.\n\nContinuity: Eevee stays on-model (proportions, fur color, eye shape, ear tilt, tail). Selfie stick visible occasionally; Eevee’s paw/arm enters frame naturally.\n\nSELFIE-STICK / CAMERA LANGUAGE (must-have)\n\nArm-length composition; slight wide-angle perspective; gentle handheld sway.\n\nMicro lens breathing on focus pulls; faint barrel distortion at edges.\n\nSubtle rolling-shutter wobble on quick turns; mild exposure auto-adjust when panning across windows/lights.\n\nOccasional shadow of selfie stick on ground/wall; tiny wrist rotations while walking.\n\nOne clean camera move: either slow dolly-in (Eevee leans toward lens) or quarter-orbit while standing.\n\nMOTION LAYERS (make each visible)\n\nSubject (Eevee): ear flicks, head tilts, soft blinks, tiny hops/steps, tail swishes, brief sniff at lens, one cute nose boop toward camera.\n\nCamera (selfie POV): gentle sway, micro rack-focus (Eevee → prop → Eevee), small yaw/pitch as wrist adjusts.\n\nEnvironment: items that naturally move for the LOCATION (e.g., kettle steam, tram arrival lights blinking, washing machines rotating, leaves fluttering, shop door chime swing, sun motes/dust).\n\nLIGHTING & MATERIALITY\n\nSoft, natural key light; believable bounce; rim light on fur; subtle specular highlights on eyes; shallow DOF for close-ups.\n\nReal-world textures: plush yet realistic fur clumping, paw pads, fabric weave, wood grain, metal sheen on selfie stick clamp.\n\nAUDIO NOTES (non-verbal)\n\nEevee: short, cute fox-like chirps/“vee-vee” hums synced to actions (tilt, hop, boop).\n\nAmbience: room tone / street hush / distant tram bell / kettle hiss / page flip—very light.\n\nNo music unless very faint tonal bed (optional), no lyrics.\n\nACTION BEATS (pick 3–4, fit within DURATION)\n\nEstablish: Eevee raises selfie stick; looks into lens; soft chirp.\n\nActivity moment: ACTIVITY with clear hand/paw interaction (e.g., taps kettle button, selects snack, waters plant, waves tram card).\n\nPOV flourish: quick lens sniff/boop; auto-exposure breath on a turn; micro rack-focus to prop then back to eyes.\n\nButton/outro: tiny wave or tail swish; shy smile/blink; frame holds on Eevee face.\n\nNEGATIVE PROMPTS\nNo text overlays, no UI, no logos/brands, no violence, no falls/collisions, no unrealistic physics (keep weight, inertia, and fur response believable).\n\nOUTPUT FORMAT (what VEO-3 should produce)\n“One cohesive prompt describing a single 9:16 video with: MOOD, LOCATION, ACTIVITY, TIME_OF_DAY, WEATHER (if outdoors), selfie-stick camera language, the three motion layers, the action beats, lighting/materiality, and audio notes, honoring GLOBAL CONSTRAINTS and NEGATIVE PROMPTS. Use natural prose (no lists)”\n\nPARAMETERS (guide the model)\n\nShot: selfie close to chest/face.\n\nFocal: 18–24mm full-frame equiv (selfie wide).\n\nAperture look: shallow DOF, smooth bokeh.\n\nColor: warm-neutral white balance.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=ROLE\nYou are a senior prompt-engineer for Google VEO-3. From the META_PROMPT below, generate a short-form vertical video where Eevee vlogs her daily life using a selfie stick. Output one cohesive prompt (no on-screen text). Only one continuous take (no cuts), single fixed location."
        }
      },
      "id": "9989fdd6-6862-4fcc-bb26-6cef2bdffffc",
      "name": "Generate Video Script Clanker1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -224,
        2960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\": {\n    \"prompt\": \"{{ $('Theme clanker').item.json.output.prompt }}\",\n    \"output_format\": \"png\",\n    \"image_size\": \"9:16\"\n  }\n}",
        "options": {}
      },
      "id": "780ddcd5-c931-4321-adeb-926c8bef6125",
      "name": "NanoBanana: Create Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        832,
        2448
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "foWS03OsC9HJFKQs",
          "name": "Gemini"
        },
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "5b6e0bd3-189b-49d4-88ed-82d59f9bbcc2",
      "name": "Wait for Image Edit",
      "type": "n8n-nodes-base.wait",
      "position": [
        1056,
        2448
      ],
      "webhookId": "7fa99f34-8eb2-4656-9118-62709e17383e",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "05490333-9f23-427a-96a3-f0cfbbf8dda7",
      "name": "Download Edited Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1280,
        2368
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "foWS03OsC9HJFKQs",
          "name": "Gemini"
        },
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "name": "=eevee-img-{{ $('NanoBanana: Create Image').item.json.data.taskId }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1u3NLKJAZekpnEeDKfbFDMttdxeWoCRzv",
          "mode": "list",
          "cachedResultName": "songs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1u3NLKJAZekpnEeDKfbFDMttdxeWoCRzv"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -592,
        2960
      ],
      "id": "a4bd3fb5-61d6-4d77-a45a-5ccb08abf978",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ih6pau2KBlXO6pNC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kieai.redpandaai.co/api/file-base64-upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "base64Data",
              "value": "={{ $('Code in JavaScript5').item.json.data.data }}"
            },
            {
              "name": "uploadPath",
              "value": "images/base64"
            },
            {
              "name": "fileName",
              "value": "=test-image{{$now.format('yyyy-MM-dd-ss:mm')}}.png"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        2960
      ],
      "id": "a83433f9-637a-4b46-ba45-503dca2b7f93",
      "name": "Upload image to kei1",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        768,
        2864
      ],
      "id": "b220747a-49a8-4c06-a343-da64c18d468c",
      "name": "Wait1",
      "webhookId": "9f6ccee7-9c64-4f93-871e-7c07a0fea933"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "534dab23-0283-4363-8adf-fe3bf721ab73",
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        2864
      ],
      "id": "3fa70304-c257-4b15-ab6f-d473728e2cac",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a076f882-1a40-4aca-8cf2-318b031fdb4f",
              "leftValue": "={{ $json.msg }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        2960
      ],
      "id": "3176ad7a-30ba-45f7-a98f-72ba46cce879",
      "name": "If5"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "846456961419444304",
          "mode": "list",
          "cachedResultName": "Tomasiknos diary",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304"
        },
        "channelId": {
          "__rl": true,
          "value": "1417600388479189136",
          "mode": "list",
          "cachedResultName": "videos-notification",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304/1417600388479189136"
        },
        "content": "Sending request to create video failed, check logs\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        768,
        3056
      ],
      "id": "c320e060-7eaa-4e65-87eb-93ed8dc486c7",
      "name": "Send a message2",
      "webhookId": "958b18ac-9ab0-46aa-b779-594f7d75e003",
      "credentials": {
        "discordBotApi": {
          "id": "kODEUwvmo26ApL4g",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Download Edited Image').item.json.data.resultJson.parseJson().resultUrls[0] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        2592
      ],
      "id": "153acb91-78ea-463e-b137-fbf0f6f9b7c8",
      "name": "Dowload nano banana image from kei",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data.response.resultUrls[0] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        2864
      ],
      "id": "e0c8619b-f471-4083-b412-37812a5e97c3",
      "name": "Request video info",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NYWE2eTlJYQ0WPTb",
          "mode": "list",
          "cachedResultName": "Automate Video Content Posting to Multiple Social Platforms with Postiz"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "videoId": "={{ $json.id }}",
            "prompt": "={{ $('Generate Video Script Clanker1').item.json.output.final_prompt }}",
            "tags": "={{ $('Theme clanker').item.json.output.tags }}",
            "videoTitle": "={{ $('Theme clanker').item.json.output.title }}",
            "videoDesc": "={{ $('Theme clanker').item.json.output.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "videoId",
              "displayName": "videoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "videoTitle",
              "displayName": "videoTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoDesc",
              "displayName": "videoDesc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2112,
        2864
      ],
      "id": "4e2baf6e-9709-42cb-8c6b-73c1a55b8c57",
      "name": "Call 'Automate Video Content Posting to Multiple Social Platforms with Postiz'"
    },
    {
      "parameters": {
        "name": "=Eeveevideo-{{ $json.data.response.taskId }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1tnJQGapWf8ZHzSTTJ3KzVXaq5jRAsHf9",
          "mode": "list",
          "cachedResultName": "videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tnJQGapWf8ZHzSTTJ3KzVXaq5jRAsHf9"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1888,
        2864
      ],
      "id": "355f67b2-f83f-456d-a80b-7644f606a4e0",
      "name": "Upload video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ih6pau2KBlXO6pNC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: { ...item.json, data: item.binary.data },\n  binary: item.binary ?? {}\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        2960
      ],
      "id": "42f6f8c0-cbaf-42a1-b07d-bdd17fe5c93f",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "27358cd7-1b15-80e5-965f-d144b72c15b4",
          "mode": "list",
          "cachedResultName": "Themes",
          "cachedResultUrl": "https://www.notion.so/27358cd71b1580e5965fd144b72c15b4"
        },
        "limit": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -768,
        2448
      ],
      "id": "2da764ab-ce3f-44ba-aefb-32201c360e21",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "lDq6KxxGETipZmXY",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\":\"{{ $json.output.final_prompt }}\",\n  \"imageUrls\": [\"{{ $('Upload image to kei1').item.json.data.downloadUrl }}\"],\n  \"model\": \"veo3_fast\",\n  \"watermark\": \"EeveesSongs\",\n  \"callBackUrl\": \"http://your-callback-url.com/complete\",\n  \"aspectRatio\": \"9:16\",\n  \"seeds\": {{ Math.floor(Math.random() * 90000) + 10000 }},\n  \"enableFallback\": false,\n  \"enableTranslation\": true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        2960
      ],
      "id": "956a1c54-0077-4cbc-8675-c87521898222",
      "name": "Post request to generate video1",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -176,
        2672
      ],
      "id": "01207b5f-7374-419a-a422-d9b94380ff54",
      "name": "Think2"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "value": "846456961419444304",
          "mode": "list",
          "cachedResultName": "Tomasiknos diary",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304"
        },
        "channelId": {
          "__rl": true,
          "value": "1417600388479189136",
          "mode": "list",
          "cachedResultName": "videos-notification",
          "cachedResultUrl": "https://discord.com/channels/846456961419444304/1417600388479189136"
        },
        "message": "=📹 **New Video Concept Created!**  \n👉 [{{ $('Theme clanker').item.json.output.title }}]({{ $json.data.resultJson.parseJson().resultUrls }})  \n{{ $json.data.resultJson.parseJson().resultUrls }}\nDo you approve? ✅❌\n------------------------",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1728,
        2448
      ],
      "id": "7e13bf49-32ba-480b-b4a7-613820603459",
      "name": "Send message and wait for response",
      "webhookId": "740de502-0c6b-4d90-83fc-567db340f105",
      "credentials": {
        "discordBotApi": {
          "id": "kODEUwvmo26ApL4g",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "209f3354-931f-46a0-8b8e-10b2337200ce",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1936,
        2448
      ],
      "id": "4b80bf2b-c838-42c9-948d-bdfc07045744",
      "name": "If7"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        2784
      ],
      "id": "f2bbea4e-ddbe-46e2-b751-ab5e2f3b48ca",
      "name": "Check video status",
      "credentials": {
        "httpBearerAuth": {
          "id": "MpyAwaVM7w2r7fsp",
          "name": "kei"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d8cacba-15ca-4a89-b063-d3093d9818b0",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "generating",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "65fe8425-8fd0-4642-8aaf-11ea5401d223",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "waiting",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        2448
      ],
      "id": "18db9243-f945-4072-a993-cb3f5db7ffd3",
      "name": "is image generating"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "276822ad-b580-4a8c-b893-99eae452add9",
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        2864
      ],
      "id": "de971bcb-47b0-4c22-9bfc-0135e5579873",
      "name": "If6"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Theme clanker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "NanoBanana: Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Theme clanker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Theme clanker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Theme clanker": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Video Script Clanker1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think4": {
      "ai_tool": [
        [
          {
            "node": "Generate Video Script Clanker1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Video Script Clanker1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Script Clanker1": {
      "main": [
        [
          {
            "node": "Post request to generate video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NanoBanana: Create Image": {
      "main": [
        [
          {
            "node": "Wait for Image Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Image Edit": {
      "main": [
        [
          {
            "node": "Download Edited Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Edited Image": {
      "main": [
        [
          {
            "node": "is image generating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image to kei1": {
      "main": [
        [
          {
            "node": "Generate Video Script Clanker1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Upload image to kei1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Check video status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dowload nano banana image from kei": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request video info": {
      "main": [
        [
          {
            "node": "Upload video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload video": {
      "main": [
        [
          {
            "node": "Call 'Automate Video Content Posting to Multiple Social Platforms with Postiz'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post request to generate video1": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "Theme clanker",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Dowload nano banana image from kei",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check video status": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is image generating": {
      "main": [
        [
          {
            "node": "Wait for Image Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Request video info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateId": "6046",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "428bec17-95ec-4b46-9e6c-0d9fb927a15d",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-23T14:15:21.787Z",
      "createdAt": "2025-09-23T14:15:21.787Z",
      "role": "workflow:owner",
      "workflowId": "MfFKZNY50TWSsyIi",
      "projectId": "kqMrkEZYsdGVbgzw"
    }
  ],
  "activeVersion": null,
  "tags": []
}